<%= form_with(model: staff, multipart: true, data: { controller: 'validation' }) do |form| %>
	<%= fields_for :user do |f| %>
		<div class="row">
			<!-- First name -->
	    <div class="form-group col-md-6 mb-2">
	      <div class="input-group input-group-merge input-group-alternative mb-3">
	        <div class="input-group-prepend">
	          <span class="input-group-text"><i class="far fa-user"></i></span>
	        </div>
	        <%= f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: :first_name, required: true %>
	      </div>
	    </div>

	    <!-- Last name -->
	    <div class="form-group col-md-6 mb-2">
	      <div class="input-group input-group-merge input-group-alternative mb-3">
	        <div class="input-group-prepend">
	          <span class="input-group-text"><i class="far fa-user"></i></span>
	        </div>
	        <%= f.text_field :last_name, class: 'form-control', placeholder: :last_name, required: true %>
	      </div>
	    </div>
    </div>

    <div class="row">
	    <!-- Phone -->
	    <div class="form-group col-md-6 mb-2">
	      <div class="input-group input-group-merge input-group-alternative mb-3">
	        <div class="input-group-prepend">
	          <span class="input-group-text"><i class="far fa-phone"></i></span>
	        </div>
	        <%= f.telephone_field :phone, class: 'form-control', placeholder: :phone %>
	      </div>
	    </div>
	    <!-- Email -->
	    <div class="form-group col-md-6 mb-2">
	      <div class="input-group input-group-merge input-group-alternative mb-3">
	        <div class="input-group-prepend">
	          <span class="input-group-text"><i class="far fa-envelope"></i></span>
	        </div>
	        <%= f.email_field :email, class: 'form-control', placeholder: :email, required: true %>
	      </div>
	    </div>
    </div>

    <div class="row">
	    <!-- Gender -->
	    <div class="form-group col-md-6 mb-2">
	      <div class="input-group input-group-merge input-group-alternative mb-3">
	        <div class="input-group-prepend">
	          <span class="input-group-text input-group-select2"><i class="far fa-venus-mars"></i></span>
	        </div>
	        <%= f.select :gender, options_for_select({ t('general.gender.male').titleize => 0, t('general.gender.female').titleize => 1, t('general.gender.unspecified').titleize => 3 }, (@staff.user.gender if @staff.user)), {}, { 
	        	class: 'form-control', required: true, data: {
	        		toggle: 'select', 
	        		placeholder: t('activerecord.attributes.user.gender'),
	        		'minimum-results-for-search': "Infinity"
	        	}
	        } %>
	      </div>
	    </div>

	    <!-- Date of birth -->
	    <div class="form-group col-md-6 mb-2">
	      <div class="input-group input-group-merge input-group-alternative mb-3">
	        <div class="input-group-prepend">
	          <span class="input-group-text"><i class="far fa-calendar"></i></span>
	        </div>
	        <%= f.date_field :birth_date, class: 'form-control', placeholder: :birth_date %>
	      </div>
	    </div>
	  </div>
	  
	  <!-- Avatar -->
	  <div class="form-group col-12 px-0">
      <div class="input-group input-group-merge input-group-alternative mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="far fa-photo"></i></span>
        </div>
        <%= f.file_field :avatar, class: 'form-control' %>
      </div>
    </div>
	<% end %>
	<%= form.hidden_field :initial_password, value: staff.initial_password %>
	<div class="card-footer pl-0">
	  <%= form.submit class: 'btn btn-success' %>
	</div>
<% end %>
