<%= link_to staff, class: 'person-container', data: { :user_id => staff.user.id } do %>
  <div class="media align-items-center <%= 'mb-2' unless local_assigns[:no_margin_bottom] %> star-floating <%= 'px-3 py-2 rounded border shadow-sm' if local_assigns[:boxed] %> <%= 'bg-white' if local_assigns[:bg_white] %>">

    <% if staff.user.avatar.attached? %>
      <div class="avatar avatar-<%= local_assigns[:avatar_size] || 'md' %> rounded-circle mr-3 table-avatar" style="background-image: url('<%= url_for(staff.user.avatar) %>')" ></div>
    <% else %>
      <% if staff.user.female? # Female %>
        <img src="/images/female-blue.jpg" class="avatar avatar-<%= local_assigns[:avatar_size] || 'md' %> rounded-circle mr-3" />
      <% else # Male or otherwise %>
        <img src="/images/male-blue.jpg" class="avatar avatar-<%= local_assigns[:avatar_size] || 'md' %> rounded-circle mr-3" />
      <% end %>
    <% end %>

    <%= "<span class=\"badge badge-md badge-circle badge-floating badge-warning border-white\" data-toggle=\"tooltip\" title=\"#{ t('activerecord.attributes.classroom.form_tutor') }\"><i class=\"far fa-star\"></i></span>".html_safe if local_assigns[:star] %>

    <div class="media-body overflow-ellipsis <%= 'd-flex justify-content-between align-items-center' if local_assigns[:selectable] %>">
      <span class="name mb-0 <%= 'text-sm' unless local_assigns[:text_lg] %>"><%= staff.user.name %></span>
      <%= link_to(icon('far fa-user-slash'), remove_staff_from_classroom_path(staff, @classroom), class: "table-action float-right", data: { toggle: 'tooltip', 'original-title': t('.remove_from_classroom') }) if local_assigns[:removeable] %>
      <%= '<i class="far fa-check checkmark mr-2" style="display: none"></i>'.html_safe if local_assigns[:selectable] %>
    </div>

  </div>
<% end %>