<%= form_with(model: classroom, data: { controller: 'validation' }) do |form| %>
  <%# Name %>
  <div class="form-group mb-2">
    <div class="input-group input-group-merge input-group-alternative mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="far fa-users-class"></i></span>
      </div>
      <%= form.text_field :name, autofocus: true, class: 'form-control', placeholder: :name, required: true %>
    </div>
  </div>

  <%# Optional %>
  <div class="form-group">
    <%= form.label :optional, class: 'form-control-label d-block' %>
    <label class="custom-toggle">
      <%= form.check_box :optional %>
      <span class="custom-toggle-slider rounded-circle" data-label-off="<%= t 'general.no' %>" data-label-on="<%= t 'general.yes' %>"></span>
    </label>
  </div>

  <%# Color %>
  <div class="form-group mb-2">
    <div class="input-group input-group-merge input-group-alternative mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text input-group-select2"><i class="far fa-palette"></i></span>
      </div>
      <%= form.select :color, options_for_select(
        { 
          t('general.colors.primary').titleize => 'primary', 
          t('general.colors.info').titleize => 'info',
          t('general.colors.danger').titleize => 'danger',
          t('general.colors.success').titleize => 'success',
          t('general.colors.warning').titleize => 'warning',
        }, (@classroom.color)), {}, { 
        class: 'form-control', required: true, data: {
          toggle: 'select', 
          placeholder: t('activerecord.attributes.classroom.color'),
          'minimum-results-for-search': "Infinity"
        }
      } %>
    </div>
  </div>

  <%# Form tutor %>
  <div class="form-group mb-2">
    <div class="input-group input-group-merge input-group-alternative mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text input-group-select2"><i class="far fa-user-tie"></i></span>
      </div>
      <%= form.collection_select(:form_tutor_id, Staff.all, :id, :name, {
        selected: @classroom.form_tutor_id
      }, { 
          class: 'form-control', 
          data: { 
            controller: 'select', 
            toggle: 'select', 
            placeholder: t('activerecord.attributes.classroom.form_tutor')	        		
          } 
        }) %>
    </div>
  </div>

  <%# School %>
  <div class="form-group mb-2">
    <div class="input-group input-group-merge input-group-alternative mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text input-group-select2"><i class="far fa-school"></i></span>
      </div>
      <%= form.collection_select(:school_id, School.all, :id, :name, {
        selected: @classroom.school_id
      }, { 
          class: 'form-control', 
          data: { 
            controller: 'select', 
            toggle: 'select', 
            placeholder: t('activerecord.attributes.classroom.school')	        		
          } 
        }) %>
    </div>
  </div>

  <%# Allow registration %>
  <div class="form-group">
    <%= form.label :allow_registration, class: 'form-control-label d-block' %>
    <label class="custom-toggle">
      <% if @classroom.allow_registration || @classroom.new_record? %>
        <%= form.check_box :allow_registration, checked: true  %>
      <% else %>
        <%= form.check_box :allow_registration  %>
      <% end %>
      <span class="custom-toggle-slider rounded-circle" data-label-off="<%= t 'general.no' %>" data-label-on="<%= t 'general.yes' %>"></span>
    </label>
  </div>

  <div class="card-footer pl-0">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
