<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0"><%= t('activerecord.models.classroom.other').titleize %></h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <%= link_to '<i class="far fa-home"></i>'.html_safe, root_path %>
              </li>
              <li class="breadcrumb-item">
                <%= link_to t('activerecord.models.classroom.other').titleize, classrooms_path %>
              </li>
              <li class="breadcrumb-item active" aria-current="page"><%= t 'general.new' %> <%= t('activerecord.models.classroom.one') %></li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a href="#" class="btn btn-sm btn-neutral"><%= t 'general.new' %></a>
          <a href="#" class="btn btn-sm btn-neutral"><%= t 'general.filters' %></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="card">
    <div class="card-header">
      <h3 class="mb-0"><%= t 'general.show' %> Classroom</h4>
    </div>
    <div class="card-body">
      <dl class="row">
	    	      <dt class="col-sm-3"><%= t 'activerecord.attributes.classroom.name' %>:</dt>
	      	        <dd class="col-sm-9"><%= @classroom.name %></dd>
	      	    	      <dt class="col-sm-3"><%= t 'activerecord.attributes.classroom.optional' %>:</dt>
	      	        <dd class="col-sm-9"><%= t(@classroom.optional) %></dd>
	      	    	      <dt class="col-sm-3"><%= t 'activerecord.attributes.classroom.color' %>:</dt>
	      	        <dd class="col-sm-9"><%= @classroom.color %></dd>
	      	    	      <dt class="col-sm-3"><%= t 'activerecord.attributes.classroom.form_tutor' %>:</dt>
	      	        <dd class="col-sm-9"><%= @classroom.form_tutor %></dd>
	      	    	      <dt class="col-sm-3"><%= t 'activerecord.attributes.classroom.allow_registration' %>:</dt>
	      	        <dd class="col-sm-9"><%= t(@classroom.allow_registration) %></dd>
	      	    	      <dt class="col-sm-3"><%= t 'activerecord.attributes.classroom.registration_code' %>:</dt>
	      	        <dd class="col-sm-9"><%= @classroom.registration_code %></dd>
	      	          </dl>
    </div>
  </div>
  <%= link_to icon('far fa-arrow-left', t('general.back')), classrooms_path, class: 'btn btn-icon icon-left btn-secondary d-mobile-none' %>
  <%= link_to icon('far fa-edit', t('general.edit')), edit_classroom_path(@classroom), class: 'btn btn btn-icon icon-left btn-warning' %>
  <%= link_to icon('far fa-trash', t('general.delete')), @classroom, class: "btn btn btn-icon icon-left btn-danger", data: { confirm: t('general.are_you_sure_delete'), remote: true }, method: :delete %>
</div>

<% content_for(:page_title, t('general.show') + " Classroom") %>
