<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0"><%= t('activerecord.models.student.other').titleize %></h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <%= link_to '<i class="far fa-home"></i>'.html_safe, root_path %>
              </li>
              <li class="breadcrumb-item">
                <%= link_to t('activerecord.models.student.other').titleize, students_path %>
              </li>
              <li class="breadcrumb-item active" aria-current="page"><%= t 'general.new' %> <%= t('activerecord.models.student.one') %></li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a href="#" class="btn btn-sm btn-neutral"><%= t 'general.new' %></a>
          <a href="#" class="btn btn-sm btn-neutral"><%= t 'general.filters' %></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">

    <%# Left infobox %>
    <div class="col-lg-3 col-md-5 col-12">
      <div class="card">
        <div class="card-body pb-0">

          <% if @student.user.avatar.attached? %>
            <div class="rounded-circle img-center img-fluid shadow shadow-lg--hover table-avatar width-height-150" style="background-image: url('<%= url_for(@student.user.avatar) %>')" ></div>
          <% else %>
            <% if @student.user.female? # Female %>
              <img src="/images/female-blue.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" width="150px" />
            <% else # Male or otherwise %>
              <img src="/images/male-blue.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" width="150px" />
            <% end %>
          <% end %>

          <div class="pt-4 text-center">
            <h5 class="h3 title">
              <span class="d-block mb-1"><%= @student.user.name %></span>
              <small class="h4 font-weight-light text-muted">
                <%= t('.years_old_long', age: ((Date.today - @student.user.birth_date)/365).to_i) if @student.user.birth_date %>
                <%= @student.user.sign_in_count > 0 ? "&nbsp;<i class=\"far fa-check-circle text-success\" data-toggle=\"tooltip\" data-original-title=\"#{ t('.account_activated') }\"></i>".html_safe : "&nbsp;<i class=\"far fa-times-circle text-danger\" data-toggle=\"tooltip\" data-original-title=\"#{ t('.account_not_activated') }\"></i>".html_safe %>
              </small>
            </h5>
            <ul class="small list-group list-group-flush" style="margin: 0 -1.5rem;">
              <li class="list-group-item"><i class="far fa-birthday-cake" style="position: absolute; left: 24px; top: 20px"></i>&nbsp;<%= l @student.user.birth_date %></li>
              <li class="list-group-item"><i class="far fa-venus-mars" style="position: absolute; left: 24px; top: 20px"></i>&nbsp;<%= @student.user.gender_string.titleize %></li>
              <li class="list-group-item"><i class="far fa-phone" style="position: absolute; left: 24px; top: 20px"></i>&nbsp;<%= (@student.family.main_parent.user.formatted_phone if @student.family.main_parent) || @student.user.phone || 'N/A' %></li>
            </ul>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to icon('far fa-edit', t('general.edit')), edit_student_path(@student, family: @student.family_id), class: 'btn btn-default btn-sm' %>
          <%= link_to icon('far fa-trash', t('general.delete')), @student, class: "btn btn-default btn-sm", data: { confirm: t('general.are_you_sure_delete'), remote: true }, method: :delete %>
        </div>
      </div>
    </div>

    <%# Right main card %>
    <div class="col-lg-9 col-md-7 col-12">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item mr-2 mr-md-0" role="presentation">
              <a class="nav-link active" id="pills-classroom-tab" data-toggle="pill" href="#pills-classroom" role="tab" aria-controls="pills-classroom" aria-selected="true"><i class="far fa-users-class"></i> &nbsp;<%= t('.classrooms_tab') %></a>
            </li>
            <li class="nav-item mr-2 mr-md-0" role="presentation">
              <a class="nav-link" id="pills-family-tab" data-toggle="pill" href="#pills-family" role="tab" aria-controls="pills-family" aria-selected="false"><i class="far fa-users"></i> &nbsp;<%= t('.family_tab') %></a>
            </li>
            <li class="nav-item mr-2 mr-md-0" role="presentation">
              <a class="nav-link" id="pills-observations-tab" data-toggle="pill" href="#pills-observations" role="tab" aria-controls="pills-observations" aria-selected="false"><i class="far fa-clipboard"></i> &nbsp;<%= t('.observations_tab') %></a>
            </li>
            <li class="nav-item mr-2 mr-md-0" role="presentation">
              <a class="nav-link" id="pills-documents-tab" data-toggle="pill" href="#pills-documents" role="tab" aria-controls="pills-documents" aria-selected="false"><i class="far fa-file-alt"></i> &nbsp;<%= t('.documents_tab') %></a>
            </li>
          </ul>
        </div>
        
        <div class="card-body">
          <div class="tab-content" id="pills-tabContent">

            <!-- Classrooms -->
            <div class="tab-pane fade show active" id="pills-classroom" role="tabpanel" aria-labelledby="pills-classroom-tab">
              <% if @student.form.nil? %>

                <div class="card bg-gradient-warning">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <p class="font-weight-bold mb-3 text-white"><%= t('.no_form_for_student') %><br><%= t('.please_assign_form') %></p>
                        <%= form_with(model: @student, data: { controller: 'validation' }) do |form| %>
                          <div class="form-group mb-0">
                            <div class="input-group input-group-has-append input-group-merge input-group-alternative">
                              <div class="input-group-prepend">
                                <span class="input-group-text input-group-select2"><i class="far fa-users-class"></i></span>
                              </div>
                              <%= form.collection_select(:form_id, Classroom.all, :id, :name, {
                                selected: params[:classroom_id],
                                include_blank: true
                              }, { 
                                  class: 'form-control',
                                  required: true, 
                                  data: { 
                                    controller: 'select', 
                                    toggle: 'select', 
                                    placeholder: t('activerecord.attributes.student.form')	        		
                                  } 
                                }) %>
                              <div class="input-group-append">
                                <%= form.button :submit, class: 'btn btn-default' do %>
                                  <i class="far fa-user-plus"></i>
                                <% end %>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-white text-warning rounded-circle shadow">
                          <i class="far fa-exclamation-triangle mt--1"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              <% else %>
                <div class="row">

                  <%# Column %>
                  <div class="col-lg-6">
                    <div class="">
                      <h4 class="text-primary"><%= t 'activerecord.attributes.student.form' %></h4>
                      <%= render @student.form, locals: { student: @student, classroom: @student.form } %>
                    </div>

                    <% if @student.classrooms.any? %>
                      <div class="mt-3">
                        <h4 class="text-primary"><%= t 'activerecord.attributes.student.classrooms' %></h4>
                        <% @student.classrooms.each do |classroom| %>
                          <%= render classroom, locals: { student: @student, classroom: classroom } %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>

                  <%# Column %>
                  <div class="col-lg-6">
                    <h4 class="text-primary"><%= t 'activerecord.attributes.student.form_tutor' %></h4>
                    <%= render @student.form_tutor, { boxed: true, star: true } %>
                  </div>

                </div>

                <hr>

                <div class="row mt-3">
                  <div class="col-12">
                    <h4 class="text-primary"><%= t 'activerecord.attributes.student.teachers' %></h4>
                    <div class="row">
                    <% @student.form.staffs.each do |staff| %>
                      <div class="col-md-6">
                        <%= render staff, boxed: true %>
                      </div>
                    <% end %>
                    </div>
                    <%# render @student.classrooms.each {|c| c.staffs} %>
                  </div>
                </div>
              <% end %>
            </div>

            <!-- Family -->
            <div class="tab-pane fade" id="pills-family" role="tabpanel" aria-labelledby="pills-family-tab">
              <div class="row mb-2">
                <div class="col-6">
                  <h4 class="text-primary"><%= t '.family_tab' %></h4>
                </div>
                <div class="col-6 text-right">
                  <%= link_to icon('far fa-users', t('.see_family')), @student.family, class: 'btn btn-primary btn-icon btn-rounded btn-sm' %>
                </div>
              </div>
              <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
                <% @student.family.parents.each do |parent| %>
                  <div class="col">
                    <%= render parent %>
                  </div>
                <% end %>
              </div>
            </div>

            <!-- Observations -->
            <div class="tab-pane fade" id="pills-observations" role="tabpanel" aria-labelledby="pills-observations-tab">
              <h4 class="text-primary"><%= t '.observations_tab' %></h4>

              <%= form_with(model: @observation, data: { controller: 'validation' }, local: false) do |form| %>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-comment-alt-lines"></i></span>
                  </div>
                  <%= form.text_field :text, class: 'form-control', placeholder: :text, required: true %>
                  <div class="input-group-append">
                    <%= form.button :submit, class: 'btn btn-default' do %>
                      <i class="far fa-comment-alt-plus"></i>
                    <% end %>
                  </div>
                </div>
                <%= form.hidden_field :creator_id, value: current_user.id %>
                <%= form.hidden_field :observationable_id, value: @student.id %>
                <%= form.hidden_field :observationable_type, value: 'Student' %>
              <% end %>

              <ul class="list-group" id="observations-list">
                <% @student.observations.each do |observation| %>
                  <%= render observation %>
                <% end %>
              </ul>

            </div>

            <!-- Documents -->
            <div class="tab-pane fade" id="pills-documents" role="tabpanel" aria-labelledby="pills-documents-tab">Documents</div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for(:page_title, t('general.show') + " Student") %>
