<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0"><%= t('activerecord.models.family.other').titleize %></h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <%= link_to '<i class="far fa-home"></i>'.html_safe, root_path %>
              </li>
              <li class="breadcrumb-item">
                <%= link_to t('activerecord.models.family.other').titleize, families_path %>
              </li>
              <li class="breadcrumb-item active" aria-current="page"><%= t 'general.new' %> <%= t('activerecord.models.family.one') %></li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a href="#" class="btn btn-sm btn-neutral"><%= t 'general.new' %></a>
          <a href="#" class="btn btn-sm btn-neutral"><%= t 'general.filters' %></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="card">
    <div class="card-header border-0">
      <div class="row">
        <div class="col-6">
          <h3 class="mb-0"><%= t '.family_name', name: @family.name %></h3>
        </div>
        <div class="col-6 text-right">
          <%= link_to icon('far fa-user-plus', t('.add_parent')), new_parent_path(family_id: @family.id), class: 'btn btn-sm btn-primary btn-round btn-icon' %>
          <%= link_to icon('far fa-child', t('.add_student')), new_student_path(family_id: @family.id), class: 'btn btn-sm btn-primary btn-round btn-icon' %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% @family.parents.each do |parent| %>
          <div class="col">
            <%= render parent %>
          </div>
        <% end %>
      </div>
      <hr>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% @family.students.each do |student| %>
          <div class="col">
            <%= render student %>
          </div>
        <% end %>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
      </div>
    </div>
  </div>
  <%= link_to icon('far fa-arrow-left', t('general.back')), families_path, class: 'btn btn-icon icon-left btn-secondary d-mobile-none' %>
  <%= link_to icon('far fa-edit', t('general.edit')), edit_family_path(@family), class: 'btn btn btn-icon icon-left btn-warning' %>
  <%= link_to icon('far fa-trash', t('general.delete')), @family, class: "btn btn btn-icon icon-left btn-danger", data: { confirm: t('general.are_you_sure_delete'), remote: true }, method: :delete %>
</div>

<% content_for(:page_title, t('general.show') + " Family") %>
