<head>
  <title>Argon Starter App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= yield(:meta_description) %>">
  <meta name="turbolinks-cache-control" content="no-preview">

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'fullcalendar', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <script>
    var reloadWithTurbolinks = (function () {
      var scrollPosition

      function reload () {
        scrollPosition = [window.scrollX, window.scrollY]
        Turbolinks.visit(window.location.toString(), { action: 'replace' })
      }

      document.addEventListener('turbolinks:load', function () {
        if (scrollPosition) {
          window.scrollTo.apply(window, scrollPosition)
          scrollPosition = null
        }
      })

      return reload
    })()
  </script>

  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Inter&family=Space+Mono&display=swap" rel="stylesheet">
</head>
