<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scroll-wrapper scrollbar-inner" style="position: relative;"><div class="scrollbar-inner scroll-content" style="height: 1005.5px; margin-bottom: 0px; margin-right: 0px; max-height: none;">
      <!-- Brand -->
      <div class="sidenav-header d-flex align-items-center">
        <a class="navbar-brand" href="../../pages/dashboards/dashboard.html">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "brand/blue.png", class: "navbar-brand-img", alt: "logo" %>
        <% end %>
        <div class="ml-auto">
          <!-- Sidenav toggler -->
          <div class="sidenav-toggler d-none d-xl-block active" data-action="sidenav-unpin" data-target="#sidenav-main">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            <li class="<%= active_nav_item('home', 'index') %>">
              <%= link_to root_path, class: "nav-link px-3" do %>
                <i class="far fa-fw fa-columns text-primary"></i>
                <span class="ml-2 nav-link-text"><%= t 'pages.dashboard.title' %></span>
              <% end %>
            </li>
            <li class="<%= active_nav_item('staffs', 'index') %>">
              <%= link_to staffs_path, class: "nav-link px-3" do %>
                <i class="far fa-fw fa-user-tie text-warning"></i>
                <span class="ml-2 nav-link-text"><%= t 'activerecord.models.staff.other' %></span>
              <% end %>
            </li>
            <li class="<%= active_nav_item('families', 'index') %>">
              <%= link_to families_path, class: "nav-link px-3" do %>
                <i class="far fa-fw fa-users text-info"></i>
                <span class="ml-2 nav-link-text"><%= t 'activerecord.models.family.other' %></span>
              <% end %>
            </li>
            <li class="<%= active_nav_item('students', 'index') %>">
              <%= link_to students_path, class: "nav-link px-3" do %>
                <i class="far fa-fw fa-user-graduate text-success"></i>
                <span class="ml-2 nav-link-text"><%= t 'activerecord.models.student.other' %></span>
              <% end %>
            </li>
            <li class="<%= active_nav_item('classrooms', 'index') %>">
              <%= link_to classrooms_path, class: "nav-link px-3" do %>
                <i class="far fa-fw fa-users-class text-danger"></i>
                <span class="ml-2 nav-link-text"><%= t 'activerecord.models.classroom.other' %></span>
              <% end %>
            </li>
            <li class="<%= active_nav_item('schools', 'index') %>">
              <%= link_to schools_path, class: "nav-link px-3" do %>
                <i class="far fa-fw fa-school text-warning"></i>
                <span class="ml-2 nav-link-text"><%= t 'activerecord.models.school.other' %></span>
              <% end %>
            </li>
            <li class="<%= active_nav_item('subjects', 'index') %>">
              <%= link_to subjects_path, class: "nav-link px-3" do %>
                <i class="far fa-fw fa-chalkboard text-indigo"></i>
                <span class="ml-2 nav-link-text"><%= t 'activerecord.models.subject.other' %></span>
              <% end %>
            </li>
            <li class="<%= active_nav_item('activities', 'index') %>">
              <%= link_to activities_path, class: "nav-link px-3" do %>
                <i class="far fa-fw fa-calendar-alt text-cyan"></i>
                <span class="ml-2 nav-link-text"><%= t 'activerecord.models.activity.other' %></span>
              <% end %>
            </li>
            <li class="<%= active_nav_item('user_activities', 'index') %>">
              <%= link_to user_activities_path(current_user.id), class: "nav-link px-3" do %>
                <i class="far fa-fw fa-calendar-star text-yellow"></i>
                <span class="ml-2 nav-link-text"><%= t 'user_activities.index.title' %></span>
              <% end %>
            </li>
            <li class="<%= active_nav_item('announcements', 'index') %>">
              <%= link_to announcements_path, class: "nav-link px-3" do %>
                <i class="far fa-fw fa-bullhorn text-danger"></i>
                <span class="ml-2 nav-link-text"><%= t 'activerecord.models.announcement.other' %></span>
              <% end %>
            </li>
            <li class="<%= active_nav_item('gradebooks', 'index') %>">
              <%= link_to gradebook_path, class: "nav-link px-3" do %>
                <i class="far fa-fw fa-address-book text-primary"></i>
                <span class="ml-2 nav-link-text"><%= t 'gradebooks.index.title' %></span>
              <% end %>
            </li>
          </ul>
          <!-- Divider -->
          <hr class="my-3">
          <!-- Heading -->
          <h6 class="navbar-heading p-0 text-muted">Documentation</h6>
          <!-- Navigation -->
          <ul class="navbar-nav mb-md-3">
            <li class="nav-item">
              <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/getting-started/overview.html" target="_blank">
                <i class="ni ni-spaceship"></i>
                <span class="nav-link-text">Getting started</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/foundation/colors.html" target="_blank">
                <i class="ni ni-palette"></i>
                <span class="nav-link-text">Foundation</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/components/alerts.html" target="_blank">
                <i class="ni ni-ui-04"></i>
                <span class="nav-link-text">Components</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/plugins/charts.html" target="_blank">
                <i class="ni ni-chart-pie-35"></i>
                <span class="nav-link-text">Plugins</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div><div class="scroll-element scroll-x"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 0px; left: 0px;"></div></div></div><div class="scroll-element scroll-y"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 0px;"></div></div></div></div>
  </nav>
