<%= form_with(model: school, data: { controller: 'validation' }) do |form| %>
  <%# Name %>
  <div class="form-group mb-2">
    <div class="input-group input-group-merge input-group-alternative mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="far fa-school"></i></span>
      </div>
      <%= form.text_field :name, class: 'form-control', placeholder: :name %>
    </div>
  </div>

  <div class="row">
    <%# Email %>
    <div class="form-group mb-2 col-md-6">
      <div class="input-group input-group-merge input-group-alternative mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="far fa-envelope"></i></span>
        </div>
        <%= form.email_field :email, class: 'form-control', placeholder: :email %>
      </div>
    </div>

    <%# Phone %>
    <div class="form-group mb-2 col-md-6">
      <div class="input-group input-group-merge input-group-alternative mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="far fa-phone"></i></span>
        </div>
        <%= form.phone_field :phone, class: 'form-control', placeholder: :phone, pattern: '0(2|7)[0-9]{8}', title: t('.accepted_phone_format') %>
      </div>
    </div>
  </div>

  <div class="row">
    <%# Country %>
    <div class="form-group mb-2 col-md-6">
      <div class="input-group input-group-merge input-group-alternative mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text input-group-select2"><i class="far fa-globe-europe"></i></span>
        </div>
        <%= form.select :country, options_for_select(
          [ 'România' ], 
          (@school.country)), {}, { 
          class: 'form-control', required: true, data: {
            toggle: 'select', 
            placeholder: t('activerecord.attributes.school.country'),
            'minimum-results-for-search': "Infinity"
          }
        } %>
      </div>
    </div>

    <%# City %>
    <div class="form-group mb-2 col-md-6">
      <div class="input-group input-group-merge input-group-alternative mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text input-group-select2"><i class="far fa-city"></i></span>
        </div>
        <%= form.select :city, options_for_select(
          [ 'București', 'Alba', 'Arad', 'Argeș', 'Bacău', 'Bihor', 'Bistrița-Năsăud', 'Botoșani', 'Brăila', 'Brașov', 'Buzău', 'Călărași', 'Caraș-Severin', 'Cluj', 'Constanța', 'Covasna', 'Dâmbovița', 'Dolj', 'Galați', 'Gorj', 'Giurgiu', 'Harghita', 'Hunedoara', 'Ialomița', 'Iași', 'Ilfov', 'Maramureș', 'Mehedinți', 'Mureș', 'Neamț', 'Olt', 'Prahova', 'Sălaj', 'Satu Mare', 'Sibiu', 'Suceava', 'Teleorman', 'Timiș', 'Tulcea', 'Vaslui', 'Vâlcea', 'Vrancea' ], 
          (@school.city)), {}, { 
          class: 'form-control', required: true, data: {
            toggle: 'select', 
            placeholder: t('activerecord.attributes.school.city'),
          }
        } %>
      </div>
    </div>
  </div>

  <%# Address %>
  <div class="form-group mb-2">
    <div class="input-group input-group-merge input-group-alternative mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="far fa-map-pin"></i></span>
      </div>
      <%= form.text_field :address, class: 'form-control', placeholder: :address %>
    </div>
  </div>

<div class="card-footer pl-0">
  <%= form.submit class: 'btn btn-success' %>
</div>
<% end %>
