<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0"><%= t('activerecord.models.activity.other').titleize %></h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <%= link_to '<i class="far fa-home"></i>'.html_safe, root_path %>
              </li>
              <li class="breadcrumb-item active" aria-current="page"><%= t('activerecord.models.activity.other').titleize %></li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a href="#" class="btn btn-sm btn-neutral"><%= t 'general.new' %></a>
          <a href="#" class="btn btn-sm btn-neutral"><%= t 'general.filters' %></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card pb-3">
        <!-- Card header -->
        <div class="card-header border-0">
          <div class="row">
            <div class="col-6">
              <h3 class="mb-0"><%= t 'general.list_of' %> <%= t 'activerecord.models.activity.other' %></h3>
            </div>
            <div class="col-6 text-right">
              <%= link_to new_activity_path, class: "btn btn-sm btn-primary btn-round btn-icon", data: { toggle: :tooltip, 'original-title': "#{ t 'general.add'} #{ t 'activerecord.models.activity.one' }" } do %>
                <span class="btn-inner--icon">
                  <i class="fas fa-plus"></i>
                </span>
                <span class="btn-inner--text"><%= t 'general.add' %></span>
              <% end %>
            </div>
          </div>
        </div>
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush" id="datatable-basic">
            <thead class="thead-light">
              <tr>
                                  <th><%= t ("activerecord.attributes.activity.all_day") %></th>
                                  <th><%= t ("activerecord.attributes.activity.start") %></th>
                                  <th><%= t ("activerecord.attributes.activity.end") %></th>
                                  <th><%= t ("activerecord.attributes.activity.days_of_week") %></th>
                                  <th><%= t ("activerecord.attributes.activity.start_time") %></th>
                                  <th><%= t ("activerecord.attributes.activity.end_time") %></th>
                                  <th><%= t ("activerecord.attributes.activity.start_recur") %></th>
                                  <th><%= t ("activerecord.attributes.activity.end_recur") %></th>
                                  <th><%= t ("activerecord.attributes.activity.title") %></th>
                                  <th><%= t ("activerecord.attributes.activity.description") %></th>
                                  <th><%= t ("activerecord.attributes.activity.description_staff_only") %></th>
                                  <th><%= t ("activerecord.attributes.activity.creator_id") %></th>
                                  <th><%= t ("activerecord.attributes.activity.coordinator_id") %></th>
                                  <th><%= t ("activerecord.attributes.activity.subject") %></th>
                                <th scope="col" class="no-sort"></th>
              </tr>
            </thead>
            <tbody>
              <% @activities.each do |activity| %>
                <tr>
                                                            <td><%= t(activity.all_day) %></td>
                                                                                <td><%= l(activity.start) %></td>
                                                                                <td><%= l(activity.end) %></td>
                                                                                <td><%= activity.days_of_week %></td>
                                                                                <td><%= activity.start_time %></td>
                                                                                <td><%= activity.end_time %></td>
                                                                                <td><%= l(activity.start_recur) %></td>
                                                                                <td><%= l(activity.end_recur) %></td>
                                                                                <td><%= activity.title %></td>
                                                                                <td><%= activity.description %></td>
                                                                                <td><%= activity.description_staff_only %></td>
                                                                                <td><%= activity.creator_id %></td>
                                                                                <td><%= activity.coordinator_id %></td>
                                                                                <td><%= activity.subject %></td>
                                                        <td class="table-actions">
                    <%= link_to '<i class="far fa-eye"></i>'.html_safe, activity, class: "table-action", data: { toggle: 'tooltip', 'original-title': t('general.view') } %>
                    <%= link_to '<i class="far fa-user-edit"></i>'.html_safe, edit_activity_path(activity), class: "table-action", data: { toggle: 'tooltip', 'original-title': t('general.edit') } %>
                    <%= link_to '<i class="far fa-trash"></i>'.html_safe, activity, class: "table-action table-action-delete", data: { toggle: 'tooltip', 'original-title': t('general.delete'), confirm: t('general.are_you_sure_delete'), remote: true }, method: :delete %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- Card footer -->
        <!-- <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">
                  <i class="fa fa-angle-left"></i>
                  <span class="sr-only"><%= t 'general.previous' %></span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2
                  <span class="sr-only">(<%= t 'general.current' %>)</span></a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">
                  <i class="fa fa-angle-right"></i>
                  <span class="sr-only"><%= t 'general.next' %></span>
                </a>
              </li>
            </ul>
          </nav>
        </div> -->
      </div>

    </div>
  </div>
  <%= render 'shared/footer' %>
</div>

<% content_for(:page_title, "#{ t 'general.list_of' } #{t('activerecord.models.activity.other').titleize}") %>
