<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0"><%= t('activerecord.models.activity.other').titleize %></h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <%= link_to '<i class="far fa-home"></i>'.html_safe, root_path %>
              </li>
              <li class="breadcrumb-item active" aria-current="page"><%= t('activerecord.models.activity.other').titleize %></li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a href="javascript:;" class="fullcalendar-btn-prev btn btn-sm btn-neutral" onclick="calendar.prev()">
            <i class="far fa-angle-left"></i>
          </a>
          <a href="javascript:;" class="fullcalendar-btn-next btn btn-sm btn-neutral" onclick="calendar.next()">
            <i class="far fa-angle-right"></i>
          </a>
          
          <a href="javascript:;" class="btn btn-sm btn-neutral fc-view-button" onclick="calendar.changeView('dayGridMonth');"><i class="far fa-calendar-alt"></i>&nbsp;<%= t 'calendar.month' %></a>
          <a href="javascript:;" class="btn btn-sm btn-neutral fc-view-button" onclick="calendar.changeView('timeGridWeek');"><i class="far fa-calendar-week"></i>&nbsp;<%= t 'calendar.week' %></a>
          <a href="javascript:;" class="btn btn-sm btn-neutral fc-view-button" onclick="calendar.changeView('timeGridDay');"><i class="far fa-calendar-day"></i>&nbsp;<%= t 'calendar.day' %></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">

    <div class="col-lg-3 col-md-4 col-12">
      <div class="card sticky-top" style="top: 30px">
        <!-- <div class="card-header">
          Select activityable
        </div> -->
        <div class="card-body">
          <div class="dropdown w-100">
            <a class="btn <%= params[:activityable_gid] && GlobalID::Locator.locate(params[:activityable_gid]).class.to_s == 'Classroom' ? 'btn-' + GlobalID::Locator.locate(params[:activityable_gid]).color : 'btn-primary' %> dropdown-toggle btn-block" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= params[:activityable_gid] ? GlobalID::Locator.locate(params[:activityable_gid]).name : 'Choose' %>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <h6 class="dropdown-header"><%= t 'activerecord.models.school.other' %></h6>
              <% School.all.each do |school| %>
                <%= link_to school.name, activities_path(activityable_gid: school.to_global_id), class: 'dropdown-item', remote: true %>
              <% end %>
              <h6 class="dropdown-header"><%= t 'activerecord.models.classroom.other' %></h6>
                <% Classroom.all.each do |classroom| %>
                  <%= link_to classroom.name, activities_path(activityable_gid: classroom.to_global_id), class: 'dropdown-item', remote: true %>
                <% end %>
              <h6 class="dropdown-header"><%= t 'activerecord.models.student.other' %></h6>
                <% Student.all.each do |student| %>
                  <%= link_to student.name, activities_path(activityable_gid: student.to_global_id), class: 'dropdown-item', remote: true %>
                <% end %>
            </div>
          </div>

          <% if Subject.all.any? %>
            <div id="subject-list" class="mt-4">
              <% Subject.all.each do |subject| %>
                <a href="javascript:;" class="subject-draggable btn btn-sm btn-block btn-<%= subject.color %> cursor-grab" data-event='{ 
                  "title": "<%= subject.title %>", 
                  "duration": "00:50", 
                  "backgroundColor": "var(--<%= subject.color %>)",
                  "borderColor": "var(--<%= subject.color %>)", 
                  "activityable_gid": "<%= GlobalID::Locator.locate(params[:activityable_gid]).to_global_id.uri rescue School.first.to_global_id.uri %>", 
                  "subjectName": "<%= subject.title %>",
                  "subjectIcon": "<%= subject.fa_icon %>",
                  "subjectId": "<%= subject.id %>",
                  "update_url": "<%= subject_url(subject) %>?method=patch",
                  "edit_url": "<%= edit_subject_path(subject) %>"
                  }'>
                  <%= icon(subject.fa_icon, subject.title) %>
                </a>
              <% end %>
            </div>

          <% else %>

            <div class="card bg-gradient-warning mb-0 mt-4">
              <div class="card-body py-4 px-3">
                <div class="text-center">
                  <div class="icon icon-shape bg-white text-warning rounded-circle shadow">
                    <i class="far fa-exclamation-triangle mt--1"></i>
                  </div>
                </div>
                <div class="col">
                  <p class="my-3 text-white">
                    <span class="font-weight-bold"><%= t('.no_current_subjects') %></span><br>
                    <%= t('.please_create_subjects') %>
                  </p>
                  <%= link_to icon('far fa-plus', t('.add_subject')), new_subject_path, class: 'btn btn-secondary btn-block' %>
                </div>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-9 col-md-8 col-12">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0">
          <div class="row">
            <div class="col-6">
              <h3 class="mb-0" id="fc-card-title"></h3>
            </div>
            <div class="col-6 text-right">
              <%= link_to new_activity_path, class: "btn btn-sm btn-primary btn-round btn-icon", data: { toggle: :tooltip, 'original-title': "#{ t 'general.add'} #{ t 'activerecord.models.activity.one' }" } do %>
                <span class="btn-inner--icon">
                  <i class="fas fa-plus"></i>
                </span>
                <span class="btn-inner--text"><%= t 'general.add' %></span>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <div id="calendar" class="calendar"></div>
        </div>
        <!-- Card footer -->
        <!-- <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">
                  <i class="fa fa-angle-left"></i>
                  <span class="sr-only"><%= t 'general.previous' %></span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2
                  <span class="sr-only">(<%= t 'general.current' %>)</span></a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">
                  <i class="fa fa-angle-right"></i>
                  <span class="sr-only"><%= t 'general.next' %></span>
                </a>
              </li>
            </ul>
          </nav>
        </div> -->
      </div>

    </div>
  </div>
  <%= render 'shared/footer' %>
</div>

<% content_for(:page_title, "#{ t 'general.list_of' } #{t('activerecord.models.activity.other').titleize}") %>

<script>
  $('.subject-draggable').mousedown(function () {
    $(this).removeClass('cursor-grab');
    $(this).addClass('cursor-grabbing');
  });

  $('.subject-draggable').mouseup(function () {
    $(this).removeClass('cursor-grabbing');
    $(this).addClass('cursor-grab');
  });

  $('.fc-timegrid-event-harness').mousedown(function () { 
    console.log('mousedown')
    $(this).removeClass('cursor-grab');
    $(this).addClass('cursor-grabbing');
  });

  $('.fc-timegrid-event-harness').mouseup(function () { 
    $(this).removeClass('cursor-grabbing');
    $(this).addClass('cursor-grab');
  });
</script>