<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>
  <body>
    <%= render 'shared/sidenav' %>
    <div class="main-content" id="panel">
      <%= render partial: 'shared/topnav', locals: { bg_color_class: yield(:topnav_bg) } %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
    <%= render 'shared/toastr' %>
    <%= javascript_pack_tag 'argon', 'data-turbolinks-track': 'reload' %>


    <script>
      function copy_to_clipboard(elementId) {
        navigator.permissions.query({name: "clipboard-write"}).then(result => {
          if (result.state == "granted" || result.state == "prompt") {
            let element = document.getElementById(elementId)
            navigator.clipboard.writeText(element.innerText).then(() => {
              /* clipboard successfully set */
              iziToast.show({
                title: '<%= t 'general.success' %>',
                message: '<%= t 'general.copied_to_clipboard' %>',
                icon: 'far fa-clipboard-check',
                position: 'topRight',
                color: 'green'
              });
            }, () => {
              /* clipboard write failed */
              iziToast.show({
                title: '<%= t 'general.error' %>',
                message: '<%= t 'general.failed_to_copy_to_clipboard' %>',
                icon: 'far fa-times',
                position: 'topRight',
                color: 'red'
              });
            });            
          }
        });      
      }
    </script>

    <script>
      // Display flashes
      $(document).ready(function () {
        <% flash.each do |type, msg| %>
          <% if msg.present? && msg.is_a?(String) %>
            iziToast.show({
              title: '<%= t('iziToast.types.' + type) %>',
              message: '<%= t msg %>',
              icon: <% case type
                       when 'notice' %>
                      'far fa-info-circle'
                    <% when 'error' %>
                      'far fa-times-circle'
                    <% else %>
                      'far fa-exclamation-circle'
                    <% end %>,
              position: 'topRight',
              color:  <% case type
                         when 'notice' %>
                        'blue'
                      <% when 'error' %>
                        'red'
                      <% else %>
                        'yellow'
                      <% end %>
            });
          <% end %>
        <% end %>
      });

    </script>
  </body>
</html>
